{% extends 'base.html' %}

{% block mainbody %}

<div class="section-title text-center">
  <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;">Project Name</h2>

  <div class="row" style="width: auto !important;"> 
   
    <div class="col-md-8 my-5 mx-auto">
      <h1 class="title "
        style="font-size:50px !important; font-family: Georgia, 'Times New Roman', Times, serif !important;">Cloud Based
        Multimedia Content Protection System</h1>
    </div>
  </div>

</div>
{% endblock mainbody %}