{% extends 'base.html' %}
{% load static %}
{% block mainbody %}
    <main>
        <!-- breadcrumb area start -->
  
        <!-- breadcrumb area end -->

        <!-- login register wrapper start -->
        <div class="login-register-wrapper section-padding">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row ">
                        <!-- Login Content Start -->
                        <div class="col-lg-6 mx-auto">
                            <div class="section-title text-center">
                                    <h2 class="title">Change Password</h2>
                                     {% if messages %}
                                     <hr>
                                {% for message in messages %}
                                    <p {% if message.tags %}class="alert alert-{{message.tags}} alert-dismissible fade show my-2 mx-auto"{% endif %}>{{message}}</p>
                                {% endfor %}
                            {% endif %}
                            </div>
                                <form action="#" method="post">{% csrf_token %}
                                    {% for fm in form %}
                                    <div class="single-input-item">{{fm.label_tag}}
                                      {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                                    </div>{% endfor %}
                                   
                                  
                                      {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    
                                        <p class="alert alert-danger my-3">{{error}}</p>
                                    
                                    {% endfor %}
                                    {% endif %}
                                    <div class="single-input-item">
                                        <button class="btn btn-sqr">Change</button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                        <!-- Login Content End -->

                    </div>
                </div>
            </div>
        </div>
     
    </main>

    <!-- Scroll to top start -->
 
{% endblock mainbody %}